* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.light {
  border: 1px solid #cccccc;
}

.dark {
  border: 1px solid #595959;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 12px 6px 6px;
  border-radius: 8px;
  color: inherit;
  background: inherit;
  width: 100%;
  max-width: 316px;
  position: relative;
}

.header {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  position: absolute;
  top: -10px;
  margin-left: 5px;
  background-color: inherit;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.form::after {
  content: "";
  width: 273px;
  height: 1px;
  margin: 22px auto;
}

.light .form::after {
  background-color: #cccccc;
}

.dark .form::after {
  background-color: #595959;
}

.input {
  width: 100%;
  padding: 12px 8px;
  border-radius: 8px;

  color: inherit;
  background-color: inherit;
  font-size: 16px;
  line-height: 16px;
}

.input::placeholder {
  color: inherit;
}

.input:focus {
  outline: #217346 2px solid;
  border: none;
}

.light .input {
  border: 1px solid #cccccc;
}

.dark .input {
  border: 1px solid #595959;
}

/* numberInput */

.numberInput {
  display: flex;
  position: relative;
  width: 100%;
}

.numberInput input {
  display: block;
  box-sizing: border-box;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.numberInput input::-webkit-outer-spin-button,
.numberInput input::-webkit-inner-spin-button {
  display: none;
}

.numberButton {
  width: 25px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.numberAdd {
  transform: rotate(180deg);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dark .numberAdd {
  border-right: 1px solid #cccccc;
}

.light .numberAdd {
  border-right: 1px solid #595959;
}

.light .numberButton {
  background-color: #cccccc;
  background-image: url(../../img/down_arrow_dark.svg);
}

.dark .numberButton {
  background-color: #595959;
  background-image: url(../../img/down_arrow_light.svg);
}

/* select */

.selectBox {
  width: 100%;
}

.selectBox::after {
  content: "";
  display: block;
  width: 25px;
  height: 100%;
  margin-left: auto;
  position: relative;
  bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.light .selectBox::after {
  background-color: #cccccc;
  background-image: url(../../img/down_arrow_dark.svg);
}

.dark .selectBox::after {
  background-color: #595959;
  background-image: url(../../img/down_arrow_light.svg);
}

.select {
  appearance: none;
}

.dark .select {
  background-color: #313131;
}

/* checkbox */

.checkboxBlock {
  display: block;
  position: relative;
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px #217346 solid;
  border-radius: 4px;
}

.checkboxBlock:hover input ~ .checkmark {
  border-radius: 4px;
}

.checkboxBlock input:checked ~ .checkmark {
  background-color: #217346;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  transform: rotate(45deg);
}

.checkboxBlock input:checked ~ .checkmark::after {
  display: block;
}

.light .checkmark::after {
  border: solid white;
  border-width: 0 3px 3px 0;
}

.dark .checkmark::after {
  border: solid #313131;
  border-width: 0 3px 3px 0;
}

.checkboxText {
  line-height: 26px;
  padding-left: 35px;
}

.button {
  width: 100%;
  padding: 12px 8px;
  border: none;
  border-radius: 8px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.light .button {
  background-color: #cccccc;
}

.dark .button {
  background-color: #595959;
}

.button:hover,
.checkboxBlock:hover,
.switchBox:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* switcher */

.switchBox {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchText {
  line-height: 36px;
  padding-left: 75px;
}

.switcher {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #217346;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
  border-radius: 50%;
}

.light .slider::before {
  background-color: white;
}

.dark .slider::before {
  background-color: #313131;
}

input:checked + .slider {
  background-color: #217346;
}

input:focus + .slider {
  box-shadow: 0 0 1px #217346;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
